<div class="row p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <div class="col-6">
        <div class="btn-group" role="group">
            <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
            <a class="p-2 btn btn-outline-primary" href="/contacts">Контакты</a>
            <a class="p-2 btn btn-outline-primary" href="/list">Продукты</a>
            <a class="p-2 btn btn-outline-primary" href="/blog">Блог</a>
        </div>
    </div>

    <div class="col-6" align="=right">
        {% if user.is_authenticated %}
        <div class="btn-group" role="group">
            <a class="p-2 btn btn-outline-primary" href="#">Мой аккаунт</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:logout' %}">Выйти</a>
        </div>
        {% else %}
        <div class="btn-group" role="group">
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Регистрация</a>
            <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Вход</a>
        </div>
        {% endif %}
    </div>
</div>