{% extends 'base.html' %}
{% load static %}
{% load my_filter %}
{% block content %}

<div class="row">
    <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
                <p class="card-text">{{object.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
